apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: ConfigMap
      name: agentai-config
    patch: |-
      - op: replace
        path: /data/APP_ENV
        value: dev
